# Dependency lokal
node_modules/
npm-debug.log
yarn-error.log

# Hasil build lokal
build/
dist/

# Git & OS files
.git/
.gitignore
.DS_Store
Thumbs.db

# Konfigurasi IDE
.idea/
.vscode/

# Environment Variables
.env
.env.*
.env.local

# Docker files
Dockerfile
Dockerfile.dev
docker-compose.yml